Package: easymercurial
Priority: optional
Maintainer: Chris Cannam <cannam@all-day-breakfast.com>
Architecture: ###
Version: ###
Depends: ###
Description: A simple user interface for the Mercurial version-control system
