<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>EasyMercurial</string>
	<key>CFBundleExecutable</key>
	<string>EasyMercurial</string>
	<key>CFBundleIconFile</key>
	<string>easyhg-icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.easymercurial.EasyMercurial</string>
	<key>CFBundleShortVersionString</key>
	<string>EASYHG_VERSION</string>
</dict>
</plist>
